.containerDescobrir{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 30px
}
.h4Descobrir{
    width: 744px;
    color: var(--color-principal-90);
    letter-spacing: 0.25px;
    text-align: center;
    margin-top: 112px;
    margin-bottom: 120px;
}
.inputDescobrir{
    width: 723px;
}
.cardsContainer{
    width: 1216px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    justify-content: space-between;
}

@media screen and (max-width: 1280px) {
    .cardsContainer {
        width: 916px;
        grid-template-columns: 0.5fr 0.5fr;
        justify-items: center;
        gap: 10px;
    }

    .inputContainer {
        width: 723px;
    }

    .containerDescobrir {
        width: 500px;
    }
}

@media screen and (max-width: 915px){   
    .cardsContainer{
        width: 516px;
        grid-template-columns: 1fr;
    }

    .inputDescobrir{
        width: 516px;
    }

    .inputContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 516px;
    }
}

@media screen and (max-width: 750px) {
    
    .containerDescobrir {
        width: 100%;
    }

    .cardsContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        justify-items: center;
    }

    .inputDescobrir{
        width: 412px;
    }

    .inputContainer{
        width: 412px;
    }

    .h4Descobrir {
        width: 312px;
        font-size: 24px;
        margin: 64px 24px 40px 24px;
    }

}

@media screen and (max-width: 425px) {
    .containerDescobrir {
        width: 100vw;
    }
    
    .h4Descobrir {
        width: 312px;
        font-size: 24px;
        margin: 64px 24px 40px 24px;
    }

    .cardsContainer{
        width: 100%;
        justify-items: center;
    }

    .inputContainer{
        width: 100%;
    }

    .inputDescobrir{
        width: 100%;
    }
    
    
}

@media screen and (max-width: 375px) {
    .containerDescobrir {
        width: 100vw;
    }

    .h4Descobrir {
        width: 312px;
        font-size: 24px;
        margin: 64px auto;
    }

    .cardsContainer{
        width: 312px;
        padding-bottom: 50px;
    }

    .inputContainer{
        width: 100%
        ;
    }

    .inputDescobrir{
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .containerDescobrir {
        width: 100vw;
    }

    .h4Descobrir {
        width: 280px;
        font-size: 18px;
        margin: 30px 60px;
    }

    .cardsContainer{
        width: 280px;
        padding-bottom: 50px;
        gap: 50px;
    }

    .inputContainer{
        width: 250px;
    }

    .inputDescobrir{
        width: 250px;
    }
}