.containerDescobrir{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 0px 30px
}
.h4Descobrir{
    width: 744px;
    color: var(--color-principal-90);
    letter-spacing: 0.25px;
    text-align: center;
    margin-top: 112px;
    margin-bottom: 120px;
}
.inputDescobrir{
    width: 723px;
}
.cardsContainer{
    width: 100%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(389px, 389px));
    justify-content: space-between;
}