@import '../../index.css';

*{
    margin: 0;
    padding: 0;
}

.container--register{
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.container--nome-sobrenome {
    display: flex;
    height: 56px;
    align-items: flex-start;
    align-self: stretch;
    gap: 1rem;
}

.imgRegister {
    height: 100%;
}

.register-title {
    font-size: 3rem;
    font-weight: 400;
}

@media screen and (max-width: 1050px) {
   
    .imgRegister{
       display: none;
    }
   .formContainer {
       gap: 2rem;
   }

  
}
@media screen and (max-width: 750px) {

   .formContainer {
       gap: 2rem;

   }

}
@media screen and (min-width: 455px) and (max-width: 750px) { 

   .formContainer {
       gap: 2rem;

   }
   .formContainer h3{
       font-size: 2rem; 
       
      }
   form{
       width: 312px;
       height: 271px;
       padding-bottom: 3px;

      }

}
@media screen and (min-width: 360px)and (max-width:450px)  {
  
   .formContainer {
       display: flex;
       flex-direction: column;
       width: 100%;
       justify-content: center;
       align-items: center;
       gap: 3rem;

   }
  .formContainer h3{
   font-size: 1.5rem; 
   
  }
   
  form{
   display: flex;
   width: 312px;
   height: 271px;
   padding-bottom: 3px;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 18px;
   flex-shrink: 0;
  }

}