@import '../../index.css';

*{
    margin: 0;
    padding: 0;
}
.inputContainer{
    gap: 20px
}
.container{
    display: flex;
    height: 100vh;
    overflow: hidden;
}
img{
    height: 100%;
}
input{
    width: 100%;
    border: none;
    outline: none;
}
.formContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    hidth: 100%;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.buttonsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
h5{
    color: var(--color-neutral-110)
}
h3{
    color: var(--color-principal-90)
}
form{
    display: flex;
    width: 517px;
    height: 271px;
    padding-bottom: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 18px;
    flex-shrink: 0;
}