@import '../../index.css';

*{
    margin: 0;
    padding: 0;
}
.inputContainer{
    gap: 20px
}
.container{
    display: flex;
    height: 100vh;
    overflow: hidden;
}
img{
    height: 100%;
}
input{
    width: 100%;
    border: none;
    outline: none;
}
.formContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* hidth: 100%; */
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.buttonsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
h5{
    color: var(--color-neutral-110)
}
h3{
    color: var(--color-principal-90);
    display: inline-block;
    text-align: center;
}
form{
    display: flex;
    width: 517px;
    height: 271px;
    padding-bottom: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 18px;
    flex-shrink: 0;
}
.link{
    width: 100%;
}
p{
    color: black;
}
.incorrect-password {
    border: 2px solid #D32F2F;
}
.incorrect-password:hover {
    border: 2px solid #D32F2F;
}
.incorrect-none{
    display: none;
}
.incorrect{
    color: #D32F2F;
}

@media screen and (max-width: 1050px) {
   
     .imgLogin{
        display: none;
     }
    .formContainer {
        gap: 2rem;
    }

   
}
@media screen and (max-width: 750px) {

    .formContainer {
        gap: 2rem;

    }

}
@media screen and (min-width: 455px) and (max-width: 750px) { 

    .formContainer {
        gap: 2rem;

    }
    .formContainer h3{
        font-size: 2rem; 
        
       }
    form{
        width: 312px;
        height: 271px;
        padding-bottom: 3px;

       }

}
@media screen and (min-width: 360px)and (max-width:450px)  {
   
    .formContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 3rem;

    }
   .formContainer h3{
    font-size: 1.5rem; 
    
   }
    
   form{
    display: flex;
    width: 312px;
    height: 271px;
    padding-bottom: 3px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 18px;
    flex-shrink: 0;
   }

}