@import '../../index.css';

h1{
    background-color: var(--color-principal-70);
    width: 100%;
    height: 100%;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}