@import '../../index.css';

.cardProjetos{
    display: flex;
    width: 389px;
    height: 290px;
    padding: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 4px;
    flex-shrink: 0;
    overflow: hidden;
    margin-bottom: 22px;
}
.modal{
    display: none;
}
.imgProjeto{
    width: 389px;
    height: 258px;
    flex-shrink: 0;
    background-color: gray;
    border-radius: 4px;
    margin-bottom: 8px;
    overflow: hidden;
}

.imgProjeto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-in-out;
}

.imgProjeto img:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.imgUsuario{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: gray;
    overflow: hidden;
}
p{
    color: var(--color-neutral-110);
}

p .body-1{
    margin-bottom: 0;
}
.infUsuario{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
}



@media screen and (max-width: 375px) {
    .cardProjetos {
        width: 312px;
        height: 258px;
    }

    .infUsuario{
        display: flex;
        height: var(--4, 32px);
        
        padding: var(--none, 0px);
        
        align-items: center;
        gap: var(--1, 8px);
    }

    .imgProjeto{
        width: 312px;
        height: 258px;
    }
}

@media screen and (max-width: 320px) {
    .cardProjetos {
        width: 280px;
        height: 230px;
    }

    .infUsuario{
        display: flex;
        height: var(--4, 32px);
        
        padding: var(--none, 0px);
        
        align-items: center;
        gap: var(--1, 8px);
    }

    .imgProjeto{
        width: 312px;
        height: 258px;
    }
}