@import '../../../index.css';

.bnt2{
    width: -webkit-min-content;
    width: -moz-min-content;
    width: max-content;
    display: inline-block;
    background: none;
    color: var(--color-neutral-100);
    border-button: none;
    border: none;
    border-radius: 4px;
    padding: 8px 0px;
    cursor: pointer;
    position: relative;
    display: inline-block;
}