@import "../../index.css";

.secaoProjetos {
    max-width: 1216px;
    margin: 56px auto;
}

.meusProjetosDiv h6 {
    margin-bottom: 16px;
    color: var(--color-neutral-130-opacity);
}

.meusProjetosDiv input {
    max-width: 513px;
}

.opcoes{
    top: 10px;
    right: 0px;
    margin: 0 auto;
    background: white;
    font-size: 0.85em;
    line-height: 1.6em;
    border-radius: 15px;
    width: 208px;
    height: auto;
    color: #fff;
    padding: 20px;
    position: absolute;
    margin-top: 30px;
    z-index: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}
.opcoes:after{ /*Triangulo*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid white;
    top: -14px;
    right: 15px;
}

.botao-editar{
    background-color: gray;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 0;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.botao-editar img{
    width: 100%;
}

.adicionarProjetos {
    width: 1216px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    justify-content: space-between;
}

.container-card{
    position: relative;
    width: 100%;
}

.projetoBox {
    border-radius: 4px;
    background: rgba(230, 233, 242, 0.20);
    width: 390px;
    height: 258px;
    overflow: hidden;
}

.projetoBox:first-child {
    background: var(--color-neutral-70);
}

.projetoBoxConteudo {
    padding: 68px 60px;
}

.projetoBox img {
    object-fit: cover;

}
.projetoBoxConteudoUsuario {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primeiroProjeto {
    color: var(--color-neutral-120-opacity);
    margin-bottom: 16px;
}

.body-2 {
    color: var(--color-neutral-120-opacity);
    white-space: wrap;
}

@media screen and (max-width: 1440px) {
    .adicionarProjetos {
        width: 100%;
        grid-template-columns: -0.5fr 0.5fr;
        justify-items: center;
        gap: 10px;
    }
    .secaoProjetos {
        max-width: 1116px;
        padding: 24px;
    }

    .projetoBox {
        width: 350px;
    }

    .projetoBoxConteudo {
        padding: 68px 42px;
    }
}

@media screen and (max-width: 1250px) {
    .secaoProjetos {
        max-width: 916px;
    }

    .projetoBox {
        width: 285px;
    }

    .projetoBoxConteudo {
        padding: 68px 21px;
    }

    .projetoBox img {
        margin-left: 0;
    }
}

@media screen and (max-width: 1000px) {
    .secaoProjetos {
        max-width: 716px;
    }

    .adicionarProjetos {
        grid-template-columns: 510px;
        justify-items: center;
    }

    .projetoBox {
        width: 500px;
    }

    .projetoBoxConteudo {
        padding: 68px 118px;
    }

    .projetoBox img {
        margin-left: 0;
    }
}

@media screen and (max-width: 550px) {
    .meusProjetosDiv {
        max-width: 400px;
    }
    .adicionarProjetos {
        grid-template-columns: 100%;
        justify-items: center;
    }

    .secaoProjetos {
        max-width: 400px;
    }

    .projetoBox {
        width: 398px;
    }

    .projetoBoxConteudo {
        padding: 68px 70px;
    }

    .projetoBox img {
        margin-left: 0;
    }
}

@media screen and (max-width: 450px) {
    .meusProjetosDiv {
        max-width: 312px;
    }

    .projetoBox {
        width: 312px;
    }
    .adicionarProjetos {
        grid-template-columns: 100%;
        justify-items: center;
    }

    .projetoBoxConteudo {
        padding: 68px 25px;
    }
}
