@import "../../index.css";

.secaoProjetos {
    max-width: 1216px;
    margin: 56px auto;
}

.meusProjetosDiv h6 {
    margin-bottom: 16px;
    color: var(--color-neutral-130-opacity);
}

.meusProjetosDiv input {
    max-width: 513px;
}

.adicionarProjetos {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
}

.projetoBox {
    border-radius: 4px;
    background: rgba(230, 233, 242, 0.20);
    width: 390px;
    height: 258px;
}

.projetoBox:first-child {
    background: var(--color-neutral-70);
}

.projetoBoxConteudo {
    padding: 68px 60px;
}

.projetoBox img {
    width: 46px;
    height: 46px;
    margin-bottom: 16px;
    margin-left: 110px;
    cursor: pointer;
}

.body-1 {
    color: var(--color-neutral-120-opacity);
    margin-bottom: 16px;
    cursor: pointer;
}

.body-2 {
    color: var(--color-neutral-120-opacity);
    cursor: pointer;
    white-space: wrap;
}
