header {
    background-color: var(--color-principal-100);
}

.header {
    height: 73px;
    padding: 1rem 1.87rem;
}

.header--content {
    display: flex;
    max-width: 1216px;
    height: 41px;
    justify-content: space-between;
    margin: auto;
}

.menu-esq-content {
    display: flex;
    width: 712px;
    align-items: center;
    gap: 6.25rem;
}

.menuMobile {
    display: none;
}

.logo--orange {
    width: 111px;
    height: 41px;
}

.nav--container {
    display: flex;
    height: 41px;
    align-items: flex-start;
}

.nav--content {
    color: var(--color-neutral-60);
    font-size:  1.25rem;
    font-weight: 500;
    line-height:  1.25rem; /* 100% */
    letter-spacing: 0.15px;
    cursor: pointer;
}

.nav--list {
    display: flex;
    align-items: flex-start;
    list-style-type: none;
    padding: 0.5rem 0;
    gap: 2rem;
    height: 41px;
}

a{
    width: max-content;
    color: var(--color-neutral-60);
    text-decoration: none;
}

.menu-dir-content {
    display: flex;
    width: 96px;
    height: 41px;
    padding: var(--none, 0px);
    justify-content: center;
    align-items: center;
    gap: var(--2, 1rem);
    flex-shrink: 0;
}

.perfil-foto {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 300px;
    cursor: pointer;
}

.botao-notificacao {
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .menu-esq-content {
        width: 600px;
    }
}

@media screen and (max-width: 750px) {
    .menu-esq-content {
        width: 404px;
    }
    .menuMobile {
        display: inline-block;
        padding-right: 12px;
        padding-bottom: 13px;
    }

    .nav--container {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .menu-esq-content {
        width: 304px;
    }
}

@media screen and (max-width: 450px) {
    .menu-esq-content {
        width: 215px;
    }
}