*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root {
  /* guia de cores */
  --color-principal-gradient: linear-gradient(315deg, rgba(255,85,34,1) 10%, rgba(255,136,51,1) 100%);

  --color-principal-70: #EDEFF2;
  --color-principal-80: #444466;
  --color-principal-90: #222244;
  --color-principal-100: #111133;

  --color-secondary-60: #FFEECC;
  --color-secondary-70: #FFCC99;
  --color-secondary-80: #FFAA66;
  --color-secondary-90: #FF8833;
  --color-secondary-100: #FF5522;
  --color-secondary-110: #CC4400;
  --color-secondary-120: #993300;
  --color-secondary-130: #662200;

  --color-neutral-60: #FCFDFF;
  --color-neutral-70: #E6E9F2;
  --color-neutral-80: #C2C4CC;
  --color-neutral-90: #A1A3AA;
  --color-neutral-100: #818388;
  --color-neutral-110: #515255;
  --color-neutral-120: #303133;
  --color-neutral-120-opacity: rgba(48, 49, 51, 0.6);
  --color-neutral-130: #0B0C0D;
  --color-neutral-130-opacity: rgba(11, 12, 13, 0.6);

  --color-success-60: #EEFFBB;
  --color-success-70: #BBEE88;
  --color-success-80: #88CC66;
  --color-success-90: #55BB44;
  --color-success-100: #229922;
  --color-success-110: #118822;
  --color-success-120: #006622;
  --color-success-130: #004422;

  --color-alert-60: #FFFFCC;
  --color-alert-70: #FFEE99;
  --color-alert-80: #FFEE66;
  --color-alert-90: #FFDD33;
  --color-alert-100: #FFCC00;
  --color-alert-110: #CC9900;
  --color-alert-120: #997700;
  --color-alert-130: #664400;

  --color-error-60: #FFDDCC;
  --color-error-70: #FFAA99;
  --color-error-80: #FF7766;
  --color-error-90: #FF4433;
  --color-error-100: #DD0000;
  --color-error-110: #BB0000;
  --color-error-120: #880000;
  --color-error-130: 6650000;

  --color-info-60: #ADCBFA;
  --color-info-70: #82A9F0;
  --color-info-80: #608AE1;
  --color-info-90: #315FCE;
  --color-info-100: #2348B1;
  --color-info-110: #183594;
  --color-info-120: #0F2477;
  --color-info-130: #091862;
  /* 
  ---------------------------------------
  guia de tamanho de botões 
  */
  --button-padding-large: 8px 22px;
  --button-padding-medium: 6px 16px;
  --button-padding-small: 4px 10px;
  /* 
  ---------------------------------------
  guia de espaçamentos 
  */
  --space-1: 2px;
  --space-2: 4px;
  --space-3: 6px;
  --space-4: 8px;
  --space-5: 10px;
  --space-6: 12px;
  --space-7: 14px;
  --space-8: 16px;
  --space-9: 18px;
  --space-10: 20px;
  --space-11: 22px;
  --space-12: 24px;
  --space-13: 26px;
  --space-14: 28px;
  --space-15: 30px;
  --space-16: 32px;
  --space-17: 34px;
  --space-18: 36px;
  --space-19: 38px;
  --space-20: 40px;
  --space-21: 42px;
  --space-22: 44px;
  --space-23: 46px;
  --space-24: 48px;
  --space-25: 50px;
  --space-26: 52px;
  --space-27: 54px;
  --space-28: 56px;
  --space-29: 58px;
  --space-30: 60px;
}
  /* 
  ---------------------------------------
  guia do tamanhos da fonte
  */
h1{
  font-size: 96px;
  font-weight: 300;
}
h2{
  font-size: 60px;
  font-weight: 300;
}
h3{
  font-size: 48px;
  font-weight: 400;
}
h4{
  font-size: 34px;
  font-weight: 400;
}
h5{
  font-size: 24px;
  font-weight: 400;
}
h6{
  font-size: 20px;
  font-weight: 500;
}
.subtitle-1{
  font-size: 16px;
  font-weight: 400;
}
.subtitle-2{
  font-size: 16px;
  font-weight: 700;
}
.label{
  font-size: 16px;
  font-weight: 500;
}
.body-1{
  font-size: 16px;
  font-weight: 400;
}
.body-2{
  font-size: 14px;
  font-weight: 400;
}
.caption{
  font-size: 12px;
  font-weight: 400;
}
.overline{
  font-size: 10px;
  font-weight: 400;
}
.button-font{
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.46px;
  white-space: 'nowrap';
}
