@import "../../index.css";

.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 364px;
    margin-top: 112px;
}

.cardContainer img {
    border-radius: 50%;
    width: 122px;
    height: 122px;
}

.conteudoTexto h5 {
    margin-bottom: 16px;
}

.conteudoTexto p {
    color: var(--color-neutral-130-opacity2);
}

.conteudoTexto button {
    margin-top: 24px;
}

@media screen and (max-width: 450px) {
    .cardContainer {
        grid-template-columns: 1fr;
        justify-items: center;
        width: 340px;
        margin: 0 auto;
        margin-top: 56px;
    }

    .cardContainer img {
        margin-bottom: 16px;
    }
}


/* MODAL STYLES */

.modalContainer {
        width: 890px;
        height: 522px;
        margin: 200px auto;
        background-color: var(--color-neutral-60);
};



