@import "../../index.css";

.cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 364px;
    margin-top: 112px;
}

.formulario-projeto{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
}

.cardContainer img {
    border-radius: 50%;
    width: 122px;
    height: 122px;
}

.conteudoTexto h5 {
    margin-bottom: 16px;
}

.conteudoTexto p {
    color: var(--color-neutral-130-opacity2);
}

.conteudoTexto button {
    margin-top: 24px;
}

@media screen and (max-width: 450px) {
    .cardContainer {
        grid-template-columns: 1fr;
        justify-items: center;
        width: 340px;
        margin: 0 auto;
        margin-top: 56px;
    }

    .cardContainer img {
        margin-bottom: 16px;
    }
}


/* MODAL STYLES */

.modalContainer {
    width: 950px;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 40px;
    bottom: 40px;
    background-color: #fefefe;
}

.container-title {
    width: 826px;
    height: fit-content;
    align-items: center;
}

.titulo-modal {
    padding: 42px 32px 0;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: var(--Neutral-Colors-Neutral-110);
}

.container-content {
    display: flex;
    flex-direction: column;
    height: 336px;
    margin: 30px 32px 16px;
    gap: 24px;
}

.containerForm{
    width: 100%;
    display: flex;
    gap: var(--3, 24px);
}

.content-esq {
    display: flex;
    flex-direction: column;
}

.descrição-imagem {
    padding-bottom: 1rem;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.15px;
}

.background-imagem {
    display: flex;
    width: 389px;
    height: 304px;
    background-color: #E6E9F2;
}

.input-imagem {
    display: none;
}

.content-image {
    width: 389px;
    height: 304px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    overflow: hidden;
}

.description-imagem {
    padding-top: 1rem;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}

.imagemInicial{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icone-imagem {
    width: 46px;
    height: 46px;
}

.content-dir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: calc(100% - 413px);
    align-items: flex-start;
    gap: var(--2, 16px);
    align-self: stretch;
}

.input-form {
    display: flex;
    width: 100%;
    border-radius: 4px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--none, 0px);
}

.description {
        color: var(--Neutral-Colors-Neutral-120, #303133);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; /* 150% */
        letter-spacing: 0.15px;
        padding: 16px 12px;
        align-self: stretch;
        height: 127px;
        border-radius: 4px;
        border: 2px solid rgba(0, 0, 0, 0.23);
}

.footer-projeto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 826px;
}

.description-visualizar {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.15px;
}

.salvar-e-cancelar-btn {
    display: flex;
    gap: 1rem
    
}

@media screen and (max-width: 1000px) {
    .modalContainer {
        display: grid;
        position: relative;
        width: 450px;
        height: 700px;
        margin: 100px auto;
    }
    
    .container-content {
        display: grid;
    }

    .content-dir {
        position: absolute;
        margin-top: 1rem;
    }

    .content-esq {
        margin-top: 20rem;
    }

    .container-description {
        width: 330px;
    }

    .content-image {
        width: 330px;
        height: 270px;
    }

    .footer-projeto {
        width: 400px;
        margin-top: 300px;
        margin-bottom: 20px;
    }

    .input-form {
        width: 330px;
    }

    .descrição-imagem {
        display: flex;
        font-size: 14px;
        max-width: 330px;
    }

    .background-imagem {
        width: 330px;
        height: 280px;
    }

    .salvar-e-cancelar-btn {
        width: 700px;
    }
}

@media screen and (max-width: 450px) {
    .modalContainer {
        width: 390px;
    }

    .container-content {
        margin: 30px 0px 0px;
        padding-left: 0px;
        width: 330px;
    }
    .titulo-modal {
        padding-left: 0;
    }

    .description-visualizar {
        margin-top: 23px;
        position: absolute;
        left: 34px;
    }

    .salvar-e-cancelar-btn {
        display: flex;
        gap: 10px;
        position: absolute;
        width: 700px;
        left: 31.7px;
        padding: 65px 0px 120px 0px;
    }

}

@media screen and (max-width: 375px) {
    .modalContainer {
        width: 312px;
    }

    .container-description {
        width: 250px;
    }

    .content-image {
        width: 250px;
        height: 270px;
    }

    .input-form {
        width: 250px;
    }

    .background-imagem {
        width: 250px;
    }

    .description-visualizar {
        margin-top: 30px;
        position: absolute;
        left: 34px;
    }

    .description-imagem {
        padding-left: 5px;
    }

    .descrição-imagem {
        margin: 0 auto;
        width: 250px;
    }

    .content-esq {
        width: 266px
    }
}